.Main_dashboard {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0 5vw;
}

.nav-profile {
    display: flex;
    gap: 12px;
}

.nav-profile button {
    padding: 0 2vh;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    background-color: brown;
    color: white;
    cursor: pointer;
}

.dashborad_area {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    position: relative;
}

.first_side {
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    width: 15%;
    background-color: burlywood;
    padding: 2vw 3vw;
    z-index: 100;
}

.first_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.first_btn button {
    margin: 5px;
    padding: 0.5vw 2vw;
    border: none;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

.second_side {
    margin-left: 15%;
    margin-top: 80px;
    height: calc(100vh - 80px);
    width: calc(100% - 15%);
    /* background-color: wheat; */
    padding: 2vw 3vw;
}

.create-btn {
    display: flex;
    gap: 10px;
    width: 100%;
}

.notes_list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(67, 57, 58);
    text-align: center;
    padding: 3vw;
    border-radius: 12px;
}

.card_title {
    width: 100%;
    font-size: 1.25rem;
    color: aliceblue;
    font-weight: 200;
    text-align: center;
}

.card_desc {
    width: 100%;
    font-size: 1vw;
    color: rgb(201, 201, 194);
    font-weight: 100;
    text-align: center;
}

.card button {
    display: inline;
    margin: 0.2vw;
    padding: 0.4vw 0.4vw;
    border-radius: 5px;
    border: none;
    margin-top: 1vw;
    text-align: center;
    align-items: center;
}

@media (max-width: 480px) {
    .nav h1 {
        font-size: 25px;
    }

    .nav-profile button {
        font-size: 12px;
        padding: 0.5vw 2vw;
    }

    .notes_list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        padding: 20px;
    }

    .first_side {
        position: fixed;
        top: 80px;
        height: 50px;
        width: 100%;
        background-color: rgb(67, 57, 58);
        padding: 2vw 3vw;
        z-index: 100;
    }
    .first_btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    
    .first_btn button {
        margin: 5px;
        padding: 0.8vw 3vw;
        border: none;
        font-size: 15px;
        align-items: center;
        text-align: center;
        border-radius: 8px;
    }

    .second_side {
        margin-left: 0%;
        margin-top: 130px;
        height: calc(100vh - 80px);
        width: 100%;
        /* background-color: wheat; */
        padding: 2vw 3vw;
    }

    .card {
        height: 25vh;
        width: 100%;
        background-color: rgb(67, 57, 58);
        text-align: center;
        padding: 5vw;
        border-radius: 12px;
    }

    .card button {
        margin: 3px;
        padding: 6px;
    }

    .card_desc {
        font-size: 3vw;
    }

    .card_title {
        font-size: 4vw;
    }
}

@media (min-width: 481px) and (max-width: 769px) {
    .notes_list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 20px;
    }
    .first_side{
        width: 20%;
    }
    .second_side{
        margin-left: 20%;
    }
}

@media (min-width: 1023px) and (max-width: 1441px) {
    .notes_list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        padding: 20px;
    }
    .first_side{
        width: 20%;
    }
    .second_side{
        margin-left: 20%;
    }
}